@charset "utf-8";
@import url("../../src/components/common.css");

.breadcrumb {
    padding: 24px 72px;
    border: 1px solid var(--scheme-outline);
}

.breadcrumb li:not(:last-child) a:after{
    content: " /\00a0 ";    
}

.breadcrumb a {
    color: var(--tone-primary-40);
    font-weight: 600;
}

.pagecontent .row{
    margin-bottom: 2rem;
}

.useravt {
    border-radius: 50%;
}

.mediaicon{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tone-primary-40, #46692A);
    color: var(--tone-primary-99, #F9FFEE);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.tag {
    border: 1px solid var(--tone-primary-40, #46692A);
    padding: 6px 12px;
    border-radius: 3px;

}