@charset "utf-8";
@import url("../../src/components/common.css");

p {
    /* margin-bottom: 0; */
}

.page-title {
    text-align: center;
    height: 67px;
    padding: 0 72px;
}

.page-breadcrumb {
    margin-top: 24px;
    text-align: center;
    padding: 16px 72px;
    color: var(--tone-primary-40);
    border: 1px solid var(--scheme-outline);
}

.page-sub-breadcrumb {
    font-weight: 600;
}

.cart-container {
    padding: 65px 70px;
}

.cart-list-title {
    color: var(--scheme-primary);
    margin-bottom: 13px;
}

ul.cart-item-list-section li.cart-item:not(:first-child) {
    margin-top: 40px;
}

.cart-item {
    width: 660px;
    padding: 8px 0;
}

ul.cart-item-list-section li.cart-item:not(:last-child) {
    border-bottom: 1px solid var(--scheme-outline);
}

.cart-item-info {
    color: var(--tone-primary-40);
    margin-top: 20px;
}

.cart-item-list-section,
.cost-list-section {
    padding-left: 0;
}

.cart-item-check-btn {
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--tone-primary-40);
    border: none;
}

.cart-item-img {
    width: 165px;
}

.cart-item-quantity {
    padding: 8px;
    padding-top: 0;
    color: #000;
    border: 1px solid var(--scheme-outline);
}

.invoice-container {
    width: 526px;
    height: 750px;
    padding: 48px;
    background: var(--tone-neutral-variant-99);
    box-shadow: 0px 4px 8px 0px #D8E7CB;

}

.invoice {

}

.invoice-title {
    margin-bottom: 56px;
}

.invoice-counpon-section {
    margin: 24px 0;
}

.invoice-total-section {
    margin-top: 24px;
}

.invoice-checkout {
    margin-top: 48px;
    margin-bottom: 24px;
}