.breadcrumb {
    padding: 24px 72px;
    border: 1px solid var(--scheme-outline);
}

.breadcrumb li:not(:last-child) a:after{
    content: " /\00a0 ";    
}

.breadcrumb a {
    color: var(--tone-primary-40);
    font-weight: 600;
}

.mediaicon {
    font-size: 18px;
    width: 24px;
    color: black;
}

.title{
    margin-bottom: 3rem;
}

.section {
    margin-bottom: 5rem;
}

.card {
    width: 19rem;
    background: var(--scheme-background);
}

.card .cardcontent{
    padding: 24px 16px;
    border: 1px solid var(--Scheme-Outline, #A1B096);
}

.card .cardlink {
    padding: 1rem 2rem;
    border: 1px solid var(--Scheme-Outline, #A1B096);
}

.checked {
    color: orange;
}