@charset "utf-8";
@import url("../../src/components/common.css");
* {
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0 !important;
}

.page-title {
    text-align: center;
    height: 67px;
    padding: 0 72px;
}

.page-breadcrumb {
    margin-top: 24px;
    text-align: center;
    padding: 24px 72px;
    color: var(--tone-primary-40);
    border: 1px solid var(--scheme-outline);
    align-items: flex-start;
}

.page-sub-breadcrumb {
    font-weight: 600;
}

.search-section {
    width: 1076px;
}

.search-bar {
    padding: 16px 16px 16px 30px;
    position: relative;
    width: 100%;
}

.search-section img {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
}

.faq-container {
    margin-top: 56px;
}

.faq-container h6 {
    color: var(--tone-primary-40);
}

.category-section ul {
    padding-left: 0;
}
.category-section ul li {
    list-style-type: none;
    color: var(--tone-neutral-60);
    font-weight: 500;
    margin-bottom: 16px;
}

.question-acc {
    width: 750px;
}

.question-acc .accordion-item {
    background-color: transparent !important;
}

.question-acc .accordion-item:not(:last-child) {
    margin-bottom: 16px;
}

.question-acc button {
    padding: 16px 24px;
    border: 1.2px solid var(--scheme-outline);
    border-radius: 4px;
    background-color: transparent !important;

}

.contact-banner {
    margin-top: 145px;
    position: relative;
}

.contact-banner-img {
    width: 1440px;
    height: 400px;
}

.contact-banner-title {
    position: absolute;
    top: 120px;
    left: 72px;
    color: #fff;
}

.contact-banner button {
    position: absolute;
    top: 150px;
    right: 72px;
}