p {
    margin: 0px;
}
.breadcrumb {
    padding: 24px 72px;
    border: 1px solid var(--scheme-outline);
}

.breadcrumb li:not(:last-child) a:after{
    content: " /\00a0 ";    
}

.breadcrumb a {
    color: var(--tone-primary-40);
    font-weight: 600;
}

.sidebar .row{
    margin-bottom: 5rem;
}

.sidebar h6{
    margin-bottom: 0;
}