<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href ="../../../public/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
        <script src="../../../public/bootstrap-5/js/bootstrap.bundle.min.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="../button/buttons.css">
        <link rel="stylesheet" href="../common.css">
        <link rel="stylesheet" href="./navbar.css">
        <!-- Icons -->
    <title>Cart</title>
    </head>
<body>
    <div class="container-fluid fixed-top navbar-container">
        <div class="d-flex justify-content-between navbar">
            <div class="d-flex flex-row align-items-center">
                <div class="navbar-left-section">
                    <h5 class="navbar-open-btn"><img src="../../../public/imgs/navbar/menu-icon.svg" alt="Menu"></h5>
                </div>
                <h5 class="mx-2"><img src="../../../public/imgs/navbar/search-icon.svg" alt="Search"></h5>
                <p class="subtitle2 h-50">SEARCH</p>
            </div>
            <div class="d-flex flex-row align-items-center">
                <h5><img src="../../../public/imgs/navbar/logo.svg" alt="Fitment"></h5>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex flex-row align-items-center">
                    <h5><img src="../../../public/imgs/navbar/cart-icon.svg" alt="Cart"></h5>
                    <p class="subtitle2 mx-2">BAG</p>
                    <div class="">
                        <p class="support navbar-cart-num">0</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <h5 class="mx-2"><img src="../../../public/imgs/navbar/profile-icon.svg" alt="Profile"></h5>
                    <p class="subtitle2">ACCOUNT</p>
                </div>
            </div>

            <div class="navbar-cart">
                <div class="cart-list-section">
                    <div class="navbar-cart-close">
                        <h5 class="navbar-open-btn"><img src="../../../public/imgs/navbar/close-icon.svg" alt="Close icon"></h5>
                    </div>
                    <h2 class="navbar-cart-title">Shopping Cart</h2>
                    <div class="cart-item-list-section">
                        <div class="d-flex justify-content-between cart-item">
                            <img src="../../../public/imgs/navbar/productimg.png" alt="Product Image">
                            <div class="cart-item-info">
                                <p class="subtitle2">Singapore Dark Rattan Arm Chair</p>
                                <div class="d-inline">
                                    <p class="support d-inline">Size M</p>
                                    <div class="cart-item-info-dot d-inline">
                                        <img src="../../../public/imgs/navbar/dot.svg" alt="Dot">
                                    </div>
                                    <p class="support d-inline">Black</p>
                                    <div class="cart-item-info-dot d-inline">
                                        <img src="../../../public/imgs/navbar/dot.svg" alt="Dot">
                                    </div>
                                    <p class="support d-inline">SKU 001</p>
                                </div>
                                <div class="mt-2">
                                    <p class="subtitle2 d-inline">$ 1,500</p>
                                    <div class="d-inline cart-item-quantity mx-3">
                                        <img src="../../../public/imgs/navbar/minus.svg" alt="Dot">
                                        <p class="p3 d-inline">2</p>
                                        <img src="../../../public/imgs/navbar/plus.svg" alt="Dot">
                                    </div>
                                    <p class="subtitle2 d-inline">$ 3,000</p>
                                </div>
                            </div>
                            <div class="cart-item-delete-container">
                                <a href="#">
                                    <h5 class="cart-item-delete">
                                        <img src="../../../public/imgs/navbar/trashcan.svg" alt="Trashcan Logo">
                                    </h5>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between cart-item">
                            <img src="../../../public/imgs/navbar/productimg.png" alt="Product Image">
                            <div class="cart-item-info">
                                <p class="subtitle2">Singapore Dark Rattan Arm Chair</p>
                                <div class="d-inline">
                                    <p class="support d-inline">Size M</p>
                                    <div class="cart-item-info-dot d-inline">
                                        <img src="../../../public/imgs/navbar/dot.svg" alt="Dot">
                                    </div>
                                    <p class="support d-inline">Black</p>
                                    <div class="cart-item-info-dot d-inline">
                                        <img src="../../../public/imgs/navbar/dot.svg" alt="Dot">
                                    </div>
                                    <p class="support d-inline">SKU 001</p>
                                </div>
                                <div class="mt-2">
                                    <p class="subtitle2 d-inline">$ 1,500</p>
                                    <div class="d-inline cart-item-quantity mx-3">
                                        <img src="../../../public/imgs/navbar/minus.svg" alt="Dot">
                                        <p class="p3 d-inline">2</p>
                                        <img src="../../../public/imgs/navbar/plus.svg" alt="Dot">
                                    </div>
                                    <p class="subtitle2 d-inline">$ 3,000</p>
                                </div>
                            </div>
                            <div class="cart-item-delete-container">
                                <a href="#">
                                    <h5 class="cart-item-delete">
                                        <img src="../../../public/imgs/navbar/trashcan.svg" alt="Trashcan Logo">
                                    </h5>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between cart-item">
                            <img src="../../../public/imgs/navbar/productimg.png" alt="Product Image">
                            <div class="cart-item-info">
                                <p class="subtitle2">Singapore Dark Rattan Arm Chair</p>
                                <div class="d-inline">
                                    <p class="support d-inline">Size M</p>
                                    <div class="cart-item-info-dot d-inline">
                                        <img src="../../../public/imgs/navbar/dot.svg" alt="Dot">
                                    </div>
                                    <p class="support d-inline">Black</p>
                                    <div class="cart-item-info-dot d-inline">
                                        <img src="../../../public/imgs/navbar/dot.svg" alt="Dot">
                                    </div>
                                    <p class="support d-inline">SKU 001</p>
                                </div>
                                <div class="mt-2">
                                    <p class="subtitle2 d-inline">$ 1,500</p>
                                    <div class="d-inline cart-item-quantity mx-3">
                                        <img src="../../../public/imgs/navbar/minus.svg" alt="Dot">
                                        <p class="p3 d-inline">2</p>
                                        <img src="../../../public/imgs/navbar/plus.svg" alt="Dot">
                                    </div>
                                    <p class="subtitle2 d-inline">$ 3,000</p>
                                </div>
                            </div>
                            <div class="cart-item-delete-container">
                                <a href="#">
                                    <button class="cart-item-delete">
                                        <img src="../../../public/imgs/navbar/trashcan.svg" alt="Trashcan Logo">
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</body>
</html>