<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href ="../../../public/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../../public/bootstrap-5/js/bootstrap.bundle.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../button/buttons.css">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./navbar.css">
<title>Navbar</title>
</head>
<body>
    <!-- Navigation -->
    <div class="container-fluid navbar-container">
        <!-- Navbar -->
        <div class="container navbar">
            <!-- Menu & Search -->
            <div class="flex-row g-4 d-flex align-items-center">
                <div class="navbar-left-section">
                    <h5 class="navbar-open-btn"><embed src="../../../public/imgs/navbar/menu-icon.svg"></h5>
                    <h5 class="navbar-close-btn"><embed src="../../../public/imgs/navbar/close-icon.svg"></h5>
                </div>
                <h5 class="mx-2"><embed src="../../../public/imgs/navbar/search-icon.svg"></h5>
                <p class="button2">SEARCH</p>
            </div>
            <!-- Logo -->
            <div class="flex-row d-flex  align-items-center">
                <h5><embed src="../../../public/imgs/navbar/logo.svg"></h5>
            </div>
            <!-- Cart & Account -->
            <div class="d-flex align-items-center">
                <div class="d-flex flex-row align-items-center">
                    <h5><embed src="../../../public/imgs/navbar/cart-icon.svg"></h5>
                    <p class="button2 mx-2">BAG</p>
                    <div class="">
                        <p class="support navbar-cart-num">0</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <h5 class="mx-2"><embed src="../../../public/imgs/navbar/profile-icon.svg"></h5>
                    <p class="button2">ACCOUNT</p>
                </div>
            </div>
        </div>
        <!-- Megamenu -->
        
    </div>
</body>