@charset "utf-8";
@import url("../common.css");



.page-title {
    text-align: center;
    height: 67px;
    padding: 0 72px;
}

.page-breadcrumb {
    margin-top: 24px;
    text-align: center;
    padding: 16px 72px;
    color: var(--tone-primary-40);
    border: 1px solid var(--scheme-outline);
}

.page-sub-breadcrumb {
    font-weight: 600;
}

.payment-container {
    margin: 56px 72px;
}

.billing-form {
    width: 640px;
}

.payment-method label div {
    padding: 14px 20px;
}

.payment-method label div img {
    width: 64px;
    height: 64px;
}

.card-info-form div input {
    position: relative;
}

.card-info-form div button {
    background-color: transparent;
    border: none;

    
    position: absolute;
    margin-top: -42px;
    margin-left: 230px;
}

.order-summary-container {
    width: 526px;
    height: 100%;
    padding: 48px;
    background: var(--tone-neutral-variant-99);
    box-shadow: 0px 4px 8px 0px #D8E7CB;

}

.order-summary-items-header {
    border-bottom: 1px solid var(--scheme-outline);
}

.order-summary-item-img {
    width: 60px;
    height: 60px;
}

.order-summary-item-quantity,
.order-summary-item-price {
    text-align: center; 
    vertical-align: middle;
}

.order-summary-cost-section {
    padding: 8px;
}

.order-summary-total-section {
    margin-top: 24px;
}

.invoice-counpon-section {
    margin: 24px 0;
}

.invoice-checkout {
    margin-top: 48px;
    margin-bottom: 24px;
}

