@charset "utf-8";
@import url("../common.css");

/*---------Button styles---------*/
button {
    border-radius: 4px;
    font-family: semibold-font;
    text-align: center;
}

/*---Button sizes---*/
.btn-nm {
    font-size: 18px;
    padding: 20px 24px;
}

.btn-md {
    font-size: 16px;
    padding: 15px 24px;
}

.btn-sm {
    font-size: 14px;
    padding: 13px 24px;
}

/* Button hierarchy */
.prim-btn {
    background-color: var(--tone-primary-40);
    color: var(--tone-primary-99);
    border: none;
}

.sec-btn {
    background-color: var(--tone-secondary-90);
    color: var(--tone-secondary-30);
    border: none;
}

.tert-btn {
    background-color: var(--tone-tertiary-80);
    color: var(--tone-tertiary-30);
    border: none;
}

.outline-btn {
    background-color: transparent;
    color: var(--tone-primary-40);
    border: 1.5px solid var(--tone-primary-40);
}

a.link-nm{
    color: var(--tone-primary-40);
    font-size: 18px;
    text-decoration: none;
}

a.link-md{
    color: var(--tone-primary-40);
    font-size: 16px;
    text-decoration: none;
}

a.link-sm{
    color: var(--tone-primary-40);
    font-size: 14px;
    text-decoration: none;
}

/*---------Button States---------*/
.prim-btn:hover {
    background: var(--tone-primary-30);
    cursor: pointer;
}

.sec-btn:hover {
    background: var(--tone-secondary-80);
    cursor: pointer;
}

.tert-btn:hover {
    background: var(--tone-tertiary-50);
    color: var(--tone-tertiary-99);
    cursor: pointer;
}

.outline-btn:hover {
    background: var(--tone-primary-40);
    color: var(--tone-tertiary-99);
    cursor: pointer;
}

.link:hover {
    color: var(--tone-primary-50);
    text-decoration: underline;
    cursor: pointer;
}

.btn-nm:disabled, 
.btn-md:disabled,
.btn-sm:disabled {
    color: var(--tone-neutral-90);
    background: var(--tone-neutral-80);
    border: none;
}

.link-disabled {
    color: var(--tone-neutral-80) !important;
    cursor: default !important;
}

/*--- Icon Button styles ---*/
i {
    border: 100%;
    font-family: icons;
}

i.social {
    font-family: brands;
}

/*---Icon button sizes---*/
.i-btn-nm {
    border-radius: 100%;
    border: none;
    padding: 18px;
    font-size: 24px;
}

.i-btn-md {
    border-radius: 100%;
    border: none;
    padding: 12px;
    font-size: 24px;
}

.i-btn-sm {
    border-radius: 100%;
    border: none;
    padding: 11px;
    font-size: 18px;
}

/*---Icon button hierarchy---*/
.prim-i-btn {
    background: var(--tone-primary-40);
    color: var(--tone-primary-99);
}

.sec-i-btn {
    background: var(--tone-secondary-80);
}

