@import url("../common.css");
/*---------Button Styles---------*/

/* Button */
button {
    border-radius: 4px;
    font-family: semibold-font;
    text-align: center;
}

/*---Normal button---*/
[class$="btn-nm"] {
    font-size: 18px;
    padding: 19px 24px;
}

/*---Medium button---*/
[class$="btn-md"] {
    font-size: 16px;
    padding: 15px 24px;
}

/*---Small button---*/
[class$="btn-sm"] {
    font-size: 14px;
    padding: 13px 16px;
}

/* Primary button */
[class^="prim-btn"] {
    background-color: var(--tone-primary-40);
    color: var(--tone-primary-99);
    border: none;
}

/* Secondary button */
[class^="sec-btn"] {
    background-color: var(--tone-secondary-90);
    color: var(--tone-secondary-30);
    border: none;
}

/* Tertiary button */
[class^="tert-btn"] {
    background-color: var(--tone-tertiary-80);
    color: var(--tone-tertiary-30);
    border: none;
}

/* Outline button */
[class^="outline-btn"] {
    background-color: transparent;
    color: var(--tone-primary-40);
    border: 1.5px solid var(--tone-primary-40);
}

/* Link normal */
a.link-nm{
    color: var(--tone-primary-40);
    font-size: 18px;
    text-decoration: none;
}

/* Link medium */
a.link-md{
    color: var(--tone-primary-40);
    font-size: 16px;
    text-decoration: none;
}

/* Link small */
a.link-sm{
    color: var(--tone-primary-40);
    font-size: 14px;
    text-decoration: none;
}

/*---------Button States---------*/

/* HOVER Primary button*/
[class^="prim-btn"]:hover {
    background: var(--tone-primary-30);
    cursor: pointer;
}

/* HOVER Secondary button*/
[class^="sec-btn"]:hover {
    background: var(--tone-secondary-80);
    cursor: pointer;
}

/* HOVER Tertiary button*/
[class^="tert-btn"]:hover {
    background: var(--tone-tertiary-50);
    color: var(--tone-tertiary-99);
    cursor: pointer;
}

/* HOVER Outline button*/
[class^="outline-btn"]:hover {
    background: var(--tone-primary-40);
    color: var(--tone-tertiary-99);
    cursor: pointer;
}

/* HOVER link*/
[class^="link"]:hover {
    color: var(--tone-primary-50);
    text-decoration: underline;
    cursor: pointer;
}

/* DISABLED button */
[class$="btn-nm"]:disabled, 
[class$="btn-md"]:disabled,
[class$="btn-sm"]:disabled {

    color: var(--tone-neutral-90);
    background: var(--tone-neutral-80);
    border: none;
}

.link-disabled {
    color: var(--tone-neutral-80) !important;
    cursor: default !important;
}