@import url("../common.css");
/*---------Button Styles---------*/

/* Button */
button {
    border-radius: 4px;
    font-family: semibold-font;
    text-align: center;
}

/*---Normal button---*/
.btn-nm {
    font-size: 18px;
    padding: 19px 24px;
}

/*---Medium button---*/
.btn-md {
    font-size: 16px;
    padding: 15px 24px;
}

/*---Small button---*/
.btn-sm {
    font-size: 14px;
    padding: 13px 16px;
}

/* Primary button */
.prim-btn {
    background-color: var(--tone-primary-40);
    color: var(--tone-primary-99);
    border: none;
}

/* Secondary button */
.sec-btn {
    background-color: var(--tone-secondary-90);
    color: var(--tone-secondary-30);
    border: none;
}

/* Tertiary button */
.tert-btn {
    background-color: var(--tone-tertiary-80);
    color: var(--tone-tertiary-30);
    border: none;
}

/* Outline button */
.outline-btn {
    background-color: transparent;
    color: var(--tone-primary-40);
    border: 1.5px solid var(--tone-primary-40);
}

/* Link normal */
a.link-nm{
    color: var(--tone-primary-40);
    font-size: 18px;
    text-decoration: none;
}

/* Link medium */
a.link-md{
    color: var(--tone-primary-40);
    font-size: 16px;
    text-decoration: none;
}

/* Link small */
a.link-sm{
    color: var(--tone-primary-40);
    font-size: 14px;
    text-decoration: none;
}

/*---------Button States---------*/

/* HOVER Primary button*/
.prim-btn:hover {
    background: var(--tone-primary-30);
    cursor: pointer;
}

/* HOVER Secondary button*/
.sec-btn:hover {
    background: var(--tone-secondary-80);
    cursor: pointer;
}

/* HOVER Tertiary button*/
.tert-btn:hover {
    background: var(--tone-tertiary-50);
    color: var(--tone-tertiary-99);
    cursor: pointer;
}

/* HOVER Outline button*/
.outline-btn:hover {
    background: var(--tone-primary-40);
    color: var(--tone-tertiary-99);
    cursor: pointer;
}

/* HOVER link*/
.link:hover {
    color: var(--tone-primary-50);
    text-decoration: underline;
    cursor: pointer;
}

/* DISABLED button */
.btn-nm:disabled, 
.btn-md:disabled,
.btn-sm:disabled {
    color: var(--tone-neutral-90);
    background: var(--tone-neutral-80);
    border: none;
}

.link-disabled {
    color: var(--tone-neutral-80) !important;
    cursor: default !important;
}