@import url("../typography/typography.css");
@import url("../colors/colors.css");
/*---------Button Styles---------*/
/*---Primary button---*/
.prim-btn-nm {
    height: 56px;
    padding: 0 24px;
    background: var(--tone-primary-40);
    border: none;
    border-radius: 4px;
    font-family: semibold-font;
    color: #F9FFEE;
    text-align: center;
}
.prim-btn-md {
    height: 48px;
}
.prim-btn-sm {
	height: 40px;
}
/*---Secondary button---*/
.sec-btn-nm {
    height: 56px;
}
.sec-btn-md {
	height: 48px;
}
.sec-btn-sm {
	height: 40px;
}
/*---Tertiary button---*/
.tert-btn-nm {
    height: 56px;
}
.tert-btn-md {
	height: 48px;
}
.tert-btn-sm {
	height: 40px;
}
