@charset "utf-8";
@import url('../common.css');

.creator-bg {
    margin: 100px 0 0 0;
    background-image: url("/public/imgs/about/creators-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: auto;
    height: 879px;
    z-index: -1;
}
.creator-note {
    width: 590px;
    padding-left: 180px;
}

.creator-carousel {
    position: relative;
    width: 100%;
    height: auto;
}

.creator-button {
    display: flex; /* Ensures buttons are displayed in a row */
    gap: 400px;
    position: absolute;
    flex-direction: row;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.creator-carousel img {
    width: 100%;
    height: auto;
    padding-top: 56px;
    padding-left: 0px;
    z-index: -1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.current {
    opacity: 1;
    pointer-events: auto;
}