@charset "utf-8";
@import url('../common.css');
@import url('../button/buttons.css');

* {
    box-sizing: border-box;
}

/*--Hero banner--*/
.hero-banner {
    width: 100%;
    width: 100%;
    height: 662px;
    object-fit: cover;
}

.hero-display {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: var(--tone-primary-99);
    text-align: center;
}

.hero-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
}

/*--Shop--*/
.shop-bg {
    width: 100%;
    margin-top: 4em;
}

.shop-display, .shop-text {
    position: absolute;
}

.shop-display {
    margin-top: 450px;
    color: var(--scheme-on-background);
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.shop-text {
    top: 1324px;
    color: var(--tone-neutral-variant-50);
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.shop-btn {
    position: absolute;
    top: 1450px;
    width: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--Category--*/
.category-display {
    text-align: center;
    border-bottom: 1px solid var(--scheme-outline);
    border-top: 1px solid var(--scheme-outline);
    padding: 24px 0;
    margin-top: 64px;
}

.category-section {
    border-right: 1px solid var(--scheme-outline);
    padding: 50px 0 0 72px;
    height: 662px;
    position: relative;
}

#bath-room {
    border: none;
}
#bathroom-num {
    margin-top: 160px;
}

.category-text {
    color: var(--tone-secondary-60);
    margin-top: 1em;
    width: 90%;
    transition: opacity 1s ease-in-out;
}
.category-section h2, .category-section p {
    opacity: 1;
}
.category-num {
    color: var(--tone-primary-40);
    font-family: display-font;
    width: 100%;
    text-align: right;
    font-size: 250px;
    line-height: 200px;
    margin-top: 46px;
    padding-right: 64px;
}
.category-img {
    position: absolute;
    height: 100%;
    width: auto;
    margin-left: -72px;
    object-fit: contain;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}   
.category-link:hover .category-img {
    opacity: 1;
    z-index: 1;
}
.category-link:hover .category-text, .category-link:hover .category-num, .category-link:hover .category-section h2 {
    opacity: 0;
}
.slide-border{
    display: block;
}

/*--Featured products--*/
.featured-section {
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 2em;
}
.featured-display {
    position:relative;
    color: var(--scheme-on-background);
    text-align: center;
    padding: 24px 0;
    border-bottom: 1px solid var(--scheme-outline);
    border-top: 1px solid var(--scheme-outline);
}
.featured-btn {
    transform: translate(-50%,-50%);
    width: 200px;
    margin: 5em 0 0 50%;
}
/*--Designers--*/
.designer-section {
    padding: 48px 0;
    margin-top: 780px;
}
.designer-bg {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}
.designer-bg-display {
    position: absolute;
    transform: translate(0%, 310%);
    text-align: center;
    color: var(--tone-primary-99);
}
.designer-btn {
    position: absolute;
    width: 210px;
    left: 50%;
    transform: translate(-50%, 800%);
}

.designer-display {
    text-align: center;
    color: var(--tone-primary-99);
    border-top: 1px solid var(--tone-primary-99);
    border-bottom: 1px solid var(--tone-primary-99);
    padding: 24px 0;
    position: relative;
}
.designer-left, .designer-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.designer-left {
    align-items: center;
    justify-content: end;
}
.designer-right {
    align-items: center;
    justify-content: start;
}
.designer-left .designer-name {
    text-align: right;
    color: var(--tone-secondary-80);
    transition: color 0.6s ease-in-out;
}
.designer-right .designer-name {
    text-align: left;
    color: var(--tone-secondary-80);
    transition: color 0.6s ease-in-out;
}
.designer-left .designer-role, .designer-right .designer-role {
    width: 70px;
    text-align: left;
    color: var(--tone-secondary-90);
    transition: opacity 0.8s ease-in-out;
}
.designer-img {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 130px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.designer-right .designer-img {
    left: 100;
}
.designer-left:hover .designer-img, .designer-right:hover .designer-img {
    opacity: 1;
}
.designer-left:hover .designer-role, .designer-right:hover .designer-role {
    opacity: 0;
}
.designer-left:hover .designer-name, .designer-right:hover .designer-name {
    color: var(--tone-primary-99);
    text-shadow: 0px 4px 6px rgb(62, 74, 54); /* text-shadow: offsetX offsetY blurRadius color */
}

/*--Articles--*/
.articles-display {
    text-align: center;
    margin-bottom: 32px;
}
.articles-section {
    background-image: url("/src/duong_frontend/public/imgs/home/articles-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}
.article-tile {
    text-align: right!important;
    justify-content: end;
    float: right;
    margin-right: 48px;
    width: 85%;
}
.article-brief {
    margin: 48px 48px;
    text-align: right;
    color: var(--tone-neutral-variant-50);
}
.article-quote {
    width: 48px;
    display: flex;
}