@charset "utf-8";
@import url('../common.css');
@import url('../button/buttons.css');

* {
    box-sizing: border-box;
}

/*--Hero banner--*/
.hero-banner {
    width: 100%;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.hero-display {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: var(--tone-primary-99);
    text-align: center;
}

.hero-btn {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
}

/*--Shop--*/
.shop-bg {
    background: url("/public/imgs/home/shop-all-bg.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 330px 0 162px 0;
    width: 100%;
    height: 100%;
    margin: 5em 0 3em 0;
    z-index: 0;
}

.shop-display {
    color: var(--scheme-on-background);
    text-align: center;
    z-index: 1;
    width: 50%;
    margin-bottom: 32px;
}

.shop-text {
    color: var(--tone-neutral-variant-50);
    text-align: center;
    width: 40%;
    display: block;
    z-index: 1;
    margin-bottom: 48px;
}

.shop-btn {
    display: block;
    width: 180px;
    z-index: 1;
}

/*--Category--*/
.category-display {
    text-align: center;
    border-bottom: 1px solid var(--scheme-outline);
    border-top: 1px solid var(--scheme-outline);
    padding: 24px 0;
    margin-top: 64px;
}

.category-section {
    border-right: 1px solid var(--scheme-outline);
    padding: 50px 0 0 72px;
    height: 662px;
    position: relative;
}

#bath-room {
    border: none;
}

.category-text {
    color: var(--tone-secondary-60);
    margin-bottom: 1em;
    width: 90%;
    transition: opacity 1s ease-in-out;
}
.category-section h2, .category-section p {
    opacity: 1;
}
.category-num {
    position: absolute;
    color: var(--tone-primary-40);
    font-family: display-font;
    width: 100%;
    text-align: right;
    font-size: 250px;
    line-height: 200px;
    right: 64px;
    bottom: 32px;
    z-index: 2;
}
.category-img {
    position: absolute;
    height: 100%;
    width: auto;
    object-fit: contain;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}   

.category-link:hover .category-img {
    opacity: 1;
    z-index: 1;
}
.category-link:hover .category-text, .category-link:hover .category-num, .category-link:hover .category-section h2 {
    opacity: 0;
}
.slide-border{
    display: block;
}

/*--Featured products--*/
.featured-section {
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 2em;
}
.featured-display {
    position:relative;
    color: var(--scheme-on-background);
    text-align: center;
    padding: 24px 0;
    border-bottom: 1px solid var(--scheme-outline);
    border-top: 1px solid var(--scheme-outline);
    margin-bottom: 89px;
}
.featured-btn {
    transform: translate(-50%,-50%);
    width: 200px;
    margin: 5em 0 0 50%;
}
/*--Designers--*/
.designer-section {
    background: var(--tone-primary-40);
    padding: 48px 0;
    margin-top: 0;
}
.designer-bg {
    position: relative;
    background-image: url("/public/imgs/home/designer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 778px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.designer-bg-display {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: var(--tone-primary-99);
}
.designer-btn {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 65%;
    left: 50%;
    width: 210px;
}
.designer-display {
    text-align: center;
    color: var(--tone-primary-99);
    border-top: 1px solid var(--tone-primary-99);
    border-bottom: 1px solid var(--tone-primary-99);
    padding: 24px 0;
    position: relative;
}
.designer-left, .designer-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.designer-left {
    align-items: center;
    justify-content: end;
}
.designer-right {
    align-items: center;
    justify-content: start;
}
.designer-left .designer-name {
    text-align: right;
    color: var(--tone-secondary-80);
    transition: color 0.6s ease-in-out;
    z-index: 2;
}
.designer-right .designer-name {
    text-align: left;
    color: var(--tone-secondary-80);
    transition: color 0.6s ease-in-out;
    z-index: 2;
}
.designer-left .designer-role, .designer-right .designer-role {
    width: 70px;
    text-align: left;
    color: var(--tone-secondary-90);
    transition: opacity 0.8s ease-in-out;
}
.designer-img {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 130px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}
.designer-right .designer-img {
    left: 100;
}
.designer-left:hover .designer-img, .designer-right:hover .designer-img {
    opacity: 1;
}
.designer-left:hover .designer-role, .designer-right:hover .designer-role {
    opacity: 0;
}
.designer-left:hover .designer-name, .designer-right:hover .designer-name {
    color: var(--tone-primary-99);
    text-shadow: 0px 4px 6px rgb(62, 74, 54); /* text-shadow: offsetX offsetY blurRadius color */
}

/*--Articles--*/
.articles-display {
    text-align: center;
    margin-bottom: 32px;
}
.articles-section {
    background-image: url("/public/imgs/home/articles-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*position: absolute;*/
    width: 100%;
    height: 900px;
    margin-top: 0px;
    margin-bottom: 0;
    z-index: -1;
}
.article-title {
    text-align: right!important;
    justify-content: end;
    float: right;
    margin-top: 24px;
    margin-right: 48px;
    width: 85%;
}
.article-brief {
    margin: 48px 48px 0px 100px;
    text-align:justify;
    color: var(--tone-neutral-variant-50);
}
.article-quote {
    width: 48px;
    margin-bottom: 24px;
    display: flex;
}
.link-nm {
    margin-left: 100px;
    margin-top: 0;
}
.article-featured {
    width: 100%;
    float: right;
    margin-top: 32px;
}
.articles-btn {
    color: var(--tone-secondary-50);
    background: none;
    border-top: 1.4px solid var(--scheme-outline);
    border-bottom: 1.4px solid var(--scheme-outline);
    padding: 24px 0;
    margin-top: 0;
}
.articles-btn:hover{
    color: var(--scheme-on-background);
}
.article-card {
    padding: 24px 24px;
    border: 1.5px solid var(--scheme-outline);
    margin-top: 2rem;
}
.article-name {
    margin-top: 8px;
}
.article-img {
    width: 100%;
    height: auto;
}
.author {
    display: flex;
    margin: 0;
    line-height: 14px;
    padding: 0;
}
.author-avatar {
    width: 28px;
    height: 28px;
}
.article-tag {
    color: var(--scheme-secondary);
}
.article-text {
    color: var(--tone-neutral-variant-50);
    margin: 16px 0;
}
.article-date {
    font-size: 12px;
    display: flex;
}

/*--Inquiry--*/
.inquiry-section {
    background: url("/public/imgs/home/inquiry-bg.jpg");
    background-size: cover;
    margin-top: 64px;
    margin-bottom: 64px;
    background-repeat: no-repeat;
    padding: 100px;
    box-shadow: 0px 4px 25px 0px #9FAF8E;
    z-index: 0;
}
.inquiry-content {
    margin-left: 120px;
}
.inquiry-btn {
    margin-top: 2rem;
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
}
#send-btn, #contact-btn {
    flex: 1;
}