@charset "utf-8";
@import url('../common.css');
@import url('../button/buttons.css');

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}

