@charset "utf-8";
@import url('../common.css');
@import url('../button/buttons.css');

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}

.profile-btn {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.profile-btn button {
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: center !important;
}